$breakpoints: (
  xsmall: (
    min-width: 800px,
  ),
  small: (
    min-width: 1024px,
  ),
  medium: (
    min-width: 1200px,
  ),
  large: (
    min-width: 1440px,
  ),
);
@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error 'breakpoint nie został rozpoznany';
  }
}
