$breakpoints: (
  xsmall: (
    max-width: 799px,
  ),
  small: (
    max-width: 1023px,
  ),
  medium: (
    max-width: 1199px,
  ),
  large: (
    max-width: 1439px,
  ),
);
@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error 'breakpoint nie został rozpoznany';
  }
}
