.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
}
.logo {
  flex-basis: 200px;
  height: 160px;
  flex-grow: 1;
}
.search {
  flex-grow: 1;
}
.settings {
  padding: 0 50px;
}
.menu {
  flex-basis: 100%;
}
.main-articles {
  flex-basis: 100%;
  min-height: 50vh;
}
.article-list{
    flex-basis: 100%;
}
.footer{
    flex-basis: 100%;
}
